<script src="/assets/games/snake-js.js" type="text/javascript"></script>

<script src="/assets/games/tetris/tetris.js" type="text/javascript"></script>
<script src="/assets/games/tetris/stats.js" type="text/javascript"></script>
<link href="/assets/games/tetris/tetris.css" type="text/css" rel="stylesheet">

<script src="/assets/games/memorize/memory.js" type="text/javascript"></script>



<link href="/assets/games/memorize/memory.css" type="text/css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
<link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<canvas class="canvas-bg" id="draw" width="800" height="800"></canvas>
<title>EverTech Games</title>

<div class="hero">
    <header id="masthead" role="banner">
        <div class="logo-image">
            <a href="#">
                <img id="logo" src="/assets/media/evertech.png" alt="EverTech Games">
            </a>
        </div>

        <div class="container">


            <button class="hamburger hamburger--boring" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
                <span class="hamburger-label">Menu</span>
            </button>
            <nav id="site-nav" role="navigation">

                <div class="col">
                    <h4>Home</h4>
                    <ul>
                        <li>
                            <a href="#">EverTech Games</a>
                        </li>

                    </ul>
                </div>
                <div class="col">
                    <h4>About</h4>
                    <ul>
                        <li>
                            <a href="#our-story">Our Story</a>
                        </li>
                        <li>
                            <a href="#our-story">Our Team</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Contact</h4>
                    <ul>
                        <li>
                            <a href="#">News</a>
                        </li>
                        <li>
                            <a href="#">Join Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h4>Account</h4>
                    <ul>

                        <li>
                            <a id = "signin" href="#">Log in</a>
                        </li>
                        <li>
                            <a href="#">Submit a Game</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</div>





<div class="content">
    <div class="box">
        <h3 class="ghs main-font">Global High Scores:</h3>
    </div>
    <div class="high-scores row">
        
            <div class="hs-box col-md-2"><span class="snake-highscore"></span><div class="smalltext">Snake</div></div>
            <div class="hs-box col-md-2"><span class="tetris-highscore"></span><div class="smalltext">Tetris</div></div>
            <div class="hs-box col-md-2"><span class="memory-highscore"></span><div class="smalltext">Memory</div></div>
            <div class="hs-box col-md-2"><span class="pong-highscore"></span><div class="smalltext">Pong</div></div>
            <div class="hs-box col-md-2"><span class="whack-highscore"></span><div class="smalltext">Whack A Mole</div></div>
            <div class="hs-box col-md-2"><span class="flappy-highscore"></span><div class="smalltext">Flappy Bird</div></div>
            
        
    </div>



    <div class="row">
        <div class="box col-md-4">

            <button class="myBtn" value="1">
                <div id="snake-video">
                    <video preload="auto" muted loop width="204" height="204" autoplay>
                        <source src="/assets/media/snake.mp4" type="video/mp4">
                    </video>

                </div>
            </button>
            <h3 class="main-font">Snake</h3>
        </div>

        <div class="box col-md-4">
            <button class="myBtn" value="2">
                <div id="tetris-video">
                    <video preload="auto" muted loop width="204" height="204" autoplay>
                        <source src="/assets/media/tetris.mp4" type="video/mp4">

                    </video>
                </div>
            </button>

            <h3 class="main-font">Tetris</h3>

        </div>

        <div class="box col-md-4">
            <button class="myBtn" value="3">
                <div id="memory-video">
                    <video preload="auto" muted loop width="204" height="204" autoplay>
                        <source src="/assets/media/memory.mp4" type="video/mp4">

                    </video>
                </div>
            </button>
            <h3 class="main-font">Memory</h3>

        </div>
    </div>

    <div class="row">
        <div class="box col-md-4">

            <button class="myBtn" value="4">
                <div id="pong-video">
                    <video preload="auto" muted loop width="204" height="204" autoplay>
                        <source src="/assets/media/pong.mp4" type="video/mp4">
                    </video>

                </div>
            </button>
            <h3 class="main-font">Pong</h3>
        </div>

        <div class="box col-md-4">
            <button class="myBtn" value="5">
                <div id="whack-video">
                    <video preload="auto" muted loop width="204" height="204" autoplay>
                        <source src="/assets/media/whackamole.mp4" type="video/mp4">

                    </video>
                </div>
            </button>

            <h3 class="main-font">Whack A Mole</h3>

        </div>

        <div class="box col-md-4">
            <button class="myBtn" value="6">
                <div id="flappy-video">
                    <video preload="auto" muted loop width="204" height="204" autoplay>
                        <source src="/assets/media/flappybird.mp4" type="video/mp4">

                    </video>
                </div>
            </button>
            <h3 class="main-font">Flappy Bird</h3>

        </div>
    </div>






    <div id="myModal" class="modall">

        <!-- Modal content -->
        <div class="modall-content">
            <span class="close">&times;</span>
            <div id="parent"></div>
        </div>
    </div>






    <div class="row box">
        <div id="our-story" class="col-md-12">

            <h3 class="main-font">Our Story</h3>
            <p>We met as friends with a passion for games in the great city of Austin, Texas. Together, under guidance and mentorship of the UT Austin Coding Bootcamp, we created this website. Several hours of our blood, sweat, and tears went into it and we're proud of what we've accomplished. We hope to continue adding to it. Plus, we made this app without killing each other. If you're still friends with someone after you've built an app with them, you know that friendship is strong! Web-dev wolfpack for life!</p>
        </div>
    </div>






    <div class="row box">
        <div class="col-md-3">

            <img src="/assets/media/ourteam.jpg" height=204 width=204>
        </div>

        <div class="col-md-9">
            <h3 class="main-font">Our Team</h3>
            <ul>
            <li>Robert Harry, web developer <a href="https://www.linkedin.com/in/robert-harry-35a482161/"target="_blank">https://www.linkedin.com/in/robert-harry-35a482161/</a></li>
               <li>Seror Jasim, web developer <a href="https://www.linkedin.com/in/seror-jasim-49a012121/" target="_blank">https://www.linkedin.com/in/seror-jasim-49a012121/</a></li>
              <li>Samuel Llamas, web developer <a href="https://www.linkedin.com/in/samllamas/"  target="_blank">https://www.linkedin.com/in/samllamas/</a></li>
               <li>Keely Muench, web developer <a href="https://www.linkedin.com/in/keelymuench/" target="_blank">https://www.linkedin.com/in/keelymuench/</a></li>
</ul>
            </p>
        </div>
    </div>






</div>
<footer>

    <div class="main-gradient">
        <p>everTech.io&trade; 2018</p>
    </div>

</footer>





<script>
    $(function () {

        $('body').addClass('js');

        var $hamburger = $('.hamburger'),
            $nav = $('#site-nav'),
            $masthead = $('#masthead');

        $hamburger.click(function () {
            $(this).toggleClass('is-active');
            $nav.toggleClass('is-active');
            $masthead.toggleClass('is-active');
            return false;
        })
    });


</script>
<script>
    const canvas = document.querySelector('#draw');
    const ctx = canvas.getContext('2d');
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    ctx.strokeStyle = '#BADA55';
    ctx.lineJoin = 'round';
    ctx.lineCap = 'round';
    ctx.lineWidth = 80;
    // ctx.globalCompositeOperation = 'multiply';
    let isDrawing = false;
    let lastX = 0;
    let lastY = 0;
    let hue = 0;
    let direction = true;
    function draw(e) {
        // stop the fn from running when they are not moused down
        console.log(e);
        ctx.strokeStyle = `hsl(${hue}, 100%, 50%)`;
        ctx.beginPath();
        // start from
        ctx.moveTo(lastX, lastY);
        // go to
        ctx.lineTo(e.offsetX, e.offsetY);
        ctx.stroke();
        [lastX, lastY] = [e.offsetX, e.offsetY];
        hue++;
        if (hue >= 360) {
            hue = 0;
        }
        if (ctx.lineWidth >= 80 || ctx.lineWidth <= 1) {
            direction = !direction;
        }
        if (direction) {
            ctx.lineWidth++;
        } else {
            ctx.lineWidth--;
        }
    }
    canvas.addEventListener('mousedown', (e) => {
        isDrawing = true;
        [lastX, lastY] = [e.offsetX, e.offsetY];
    });
    canvas.addEventListener('mousemove', draw);
    canvas.addEventListener('mouseup', () => isDrawing = false);
    canvas.addEventListener('mouseout', () => isDrawing = false);
</script>



<script src="/assets/js/home.js" type="text/javascript"></script>
<script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>